node_modules/
logs/
files/
tmp/
fileUpload/
fileExcel/
public/img/brand/logo/*
package-lock.json
npm-debug.log
*.sock
*.conf.json
*.conf.js
*.config.json
*.config.js
~$*
config/keys/*
!config/keys/.placePEMHere
.idea/
